* {
    font-family: 'Montserrat';
}

.navbar-item a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

#btn-test:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes btnhover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}