* {
    font-family: 'Montserrat';
}

:root {
    --basic-color: #12CFB2;
    --strong-color: #0E4C59;
}

header.basic-blue {
    background-image: linear-gradient(to right, var(--strong-color), var(--basic-color));
}
.strong-bg-blue{
    background-color: #0b3081;
}
.column {
    padding: 10px 10px 10px 10px;
}

.basic-color {
    color: var(--basic-color);
}

h4.mt-6,
i.fas.fa-puzzle:hover {
    cursor: pointer;
}

.strong-color {
    color: var(--strong-color);
}

.button.selected {
    border-bottom: 3px solid var(--basic-color) !important;
}

.bar {
    width: 80px;
    border-bottom: 3px solid var(--basic-color);
}

ul {
    list-style: none;
    padding: 0;
}

.column li {
    padding: 0.3em 0.5em;
    font-size: 16px;
}

.rounded {
    border-radius: 10px;
}

textarea#text-message {
    resize: vertical;
}
.plan-hiden+ul{
    transition: 0.2s;
    height: 180px;
   
}
.especial+ul{
    height: 200px;
    transition: 0.2s;
}