* {
    font-family: 'Montserrat';
}

:root {
    --basic-color: #12CFB2;
    --strong-color: #0E4C59;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.basic-blue {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--strong-color), var(--basic-color));
    opacity: 0.9;
}

.strong-bg-blue {
    background-color: #0b3081;
}

a.strong-bg-blue:hover {
    background-color: #092664 !important;
}

.column {
    padding: 10px 10px 10px 10px;
}

.basic-bg {
    background-image: linear-gradient(to right, var(--strong-color), var(--basic-color));
}

.basic-color {
    color: var(--basic-color);
}

h4.mt-6,
i.fas.fa-puzzle:hover {
    cursor: pointer;
}

.strong-color {
    color: var(--strong-color);
}

.button.selected {
    border-bottom: 3px solid var(--basic-color) !important;
}

.bar {
    width: 80px;
    border-bottom: 3px solid var(--basic-color);
}

ul {
    list-style: none;
    padding: 0;
}

.column li {
    padding: 0.3em 0.5em;
    font-size: 16px;
}

.btn-test {
    background-color: var(--basic-green);
}

a.btn-test:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: transparent;
    border: 3px solid var(--basic-green);
}

a.btn-gest {
    background-color: #ECA431;
    border: 1px solid #ECA431;
}

a.btn-gest:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: transparent;
    border: 3px solid var(--basic-green);
}

.rounded {
    border-radius: 10px;
}

textarea#text-message {
    resize: vertical;
}

.plan-hiden:hover {
    cursor: pointer;
}

.plan-hiden+ul {
    transition: 0.2s;
    height: 180px;
}

.especial+ul {
    height: 200px;
    transition: 0.2s;
}
.menu-info>div:hover{
    box-shadow:0px 4px 15px -1px rgba(0,0,0,0.3)
}
#btn-contato:hover {
    background-color: white !important;
    border: 2px solid #5EC3AC;
    color: #5EC3AC !important;
}

.crm-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
    justify-content: center;
}

.crm-column {
    margin: 10px;
}

.crm-column li,
.crm-column i {
    margin-left: 1%;
}
.location-column{
    justify-self: center;
}
[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes btnhover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .time-info {
        width: 90% !important;
        margin: 3%;
    }
    .contato-column {
        display: flex;
        flex-direction: column;
        width: 90% !important;
    }
    input#name,
    input#email,
    form.column {
        width: 100% !important;
    }
    .menu-info{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand {
        width: 100%;
        justify-content: space-around;
    }
    .time-info {
        width: 90% !important;
        margin: 3%;
    }
    .contato-column {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .contato-column .column {
        width: 90%;
    }
    input#name,
    input#email,
    form.column {
        width: 100% !important;
    }
}