* {
    font-family: 'Montserrat';
}

:root {
    --basic-color: #12CFB2;
    --strong-color: #0E4C59;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.basic-blue {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--strong-color), var(--basic-color));
    opacity: 0.9;
}

.strong-bg-blue {
    background-color: #0b3081;
}

.column {
    padding: 10px 10px 10px 10px;
}

.basic-bg {
    background-image: linear-gradient(to right, var(--strong-color), var(--basic-color));
}

.basic-color {
    color: var(--basic-color);
}

h4.mt-6,
i.fas.fa-puzzle:hover {
    cursor: pointer;
}

.strong-color {
    color: var(--strong-color);
}

.button.selected {
    border-bottom: 3px solid var(--basic-color) !important;
}

.bar {
    width: 80px;
    border-bottom: 3px solid var(--basic-color);
}

ul {
    list-style: none;
    padding: 0;
}

.column li {
    padding: 0.3em 0.5em;
    font-size: 16px;
}
.btn-test{
    background-color:  var(--basic-green);
}
a.btn-test:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: transparent;
    border: 3px solid var(--basic-green);
}
a.btn-gest{
     background-color: #ECA431;;
}
a.btn-gest:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: transparent;
    border: 2px solid var(--basic-green);
}

.rounded {
    border-radius: 10px;
}

textarea#text-message {
    resize: vertical;
}

.plan-hiden:hover {
    cursor: pointer;
}

.plan-hiden+ul {
    transition: 0.2s;
    height: 180px;
}

.especial+ul {
    height: 200px;
    transition: 0.2s;
}