* {
    font-family: 'Montserrat';
}

body,
html {
    height: 100%;
    width: 100%;
}

:root {
    --basic-green: #1dbba2;
    --strong-green: #10816e;
}

.container {
    overflow: hidden;
}

.navbar-item a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

.basic-green {
    color: #0fb397;
    font-weight: 200;
}

.open-sans {
    font-family: 'Open Sans';
}

.strong-green {
    color: #10917C;
    font-weight: 500;
}

button.button.btn-test:hover {
    animation-name: btnhover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: var(--strong-green);
    border: 1px solid var(--basic-green);
    -webkit-box-shadow: 0px 0px 10px 3px #000000;
    box-shadow: 0px 0px 10px 3px #000000;
}

button.button.btn-normal {
    -webkit-box-shadow: 0px 0px 15px -4px #000000;
    box-shadow: 0px 0px 15px -4px #000000;
}

button.button.btn-normal:hover {
    background-color: var(--strong-green);
    border: 1px solid var(--basic-green);
}

.svg-text {
    color: #5a5a5a;
}

.svg-txt {
    color: #7b7b7b;
}

.revolution {
    background: url('../img/bg-jetimob-2-1.jpg.webp');
    background-attachment: fixed;
    object-fit: cover;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white
}

#portais-id img {
    filter: grayscale(1);
}


/* Header svg */

.burger {
    display: none;
    max-width: 30px;
    width: 100%;
    cursor: pointer;
}

.burger-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    margin: 2px;
}

.mobile-menu {
    width: 0;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.mobile-menu ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.mobile-menu ul a {
    color: black;
    font-weight: bold;
    font-family: 'Montserrat';
}

.mobile-x {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: auto;
    right: 30px;
    color: #000;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.mobile-x .line {
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: black;
    margin: 3px 0;
    transition: 1.8s;
}


/*Animacoes */

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes btnhover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand {
        width: 100%;
        justify-content: space-around;
    }
}